/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 62.5%; /*1 Rem= 10PX*/
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 0.3rem;
  border: 0;
  border-top: 0.3rem solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*GLOBALES: */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem; /*16 PX*/
  font-family: "Raleway", sans-serif;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-weight: 500;
  font-size: 9rem;
  letter-spacing: 2rem;
  padding-top: 0;
  display: block;
  margin-top: -5rem;
  line-height: 1.1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 570px) {
  h1 {
    margin-top: 2rem;
    font-size: 5rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 370px) {
  h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }
}

h1 span {
  font-weight: 900;
  display: block;
  font-size: 15rem;
  letter-spacing: 1rem;
  font-family: "Libre Franklin", sans-serif;
  text-shadow: 2px 3px 8px black;
}

@media (max-width: 570px) {
  h1 span {
    font-size: 10rem;
  }
}

@media (max-width: 370px) {
  h1 span {
    font-size: 6rem;
  }
}

@media (max-width: 375px) {
  h1 span {
    font-size: 5rem;
  }
}

h4 {
  display: inline-block;
  position: relative;
  top: 1rem;
  margin-top: -2rem;
  text-transform: capitalize;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  text-shadow: 1px 3px 10px black;
}

@media (max-width: 768px) {
  h4 {
    z-index: -1;
  }
}

@media (max-width: 375px) {
  h4 {
    margin-top: 3rem;
  }
}

/*HEADER: */
header {
  background-image: url("../img/cartagena\ 4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-attachment: fixed;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(246, 245, 245, 0.513);
  z-index: -2;
}

.contenido-header {
  color: #000;
  margin-top: 20rem;
  text-align: center;
}

.contenido-header img {
  width: 40rem;
  padding: 0;
  display: inline-block;
  margin-top: -10rem;
}

@media (max-width: 768px) {
  .contenido-header img {
    width: 25rem;
    margin-top: -8rem;
  }
}

/*NAVEGACION: */

header nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(48, 189, 214, 0.315);
  padding: 6rem;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: all 1s ease;
}

@media (max-width: 768px) {
  header nav {
    padding-bottom: 5rem;
  }
}

.logo img {
  width: 10rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  object-fit: cover;
  height: inherit;
}

@media (max-width: 375px) {
  .logo img {
    display: inline-block;
    position: relative;
    left: -7rem;
  }
}

.logo img:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
.icono {
  display: none;
}

@media (max-width: 768px) {
  .icono {
    display: flex;
    justify-content: center;
    height: 7rem;
    align-items: center;
    color: rgb(1, 1, 102);
    font-weight: bold;
    font-size: 3rem;
    background: transparent;
    cursor: pointer;
    padding: 2rem;
    z-index: 4;
  }
}

@media (max-width: 375px) {
  .icono {
    display: inline-block;
    position: relative;
    right: -5rem;
  }
}

.enlaces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 100%;
}

@media (max-width: 768px) {
  .enlaces {
    padding-top: 10rem;
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    left: 0;
    text-align: center;
    flex-direction: column;
    transition: all 1.2s ease;
    background: rgba(183, 222, 237, 1);
    background: -moz-linear-gradient(
      45deg,
      rgba(183, 222, 237, 1) 0%,
      rgba(183, 222, 237, 1) 1%,
      rgba(33, 180, 226, 1) 53%,
      rgba(113, 206, 239, 1) 82%,
      rgba(183, 222, 237, 1) 95%,
      rgba(183, 222, 237, 1) 100%
    );
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, rgba(183, 222, 237, 1)),
      color-stop(1%, rgba(183, 222, 237, 1)),
      color-stop(53%, rgba(33, 180, 226, 1)),
      color-stop(82%, rgba(113, 206, 239, 1)),
      color-stop(95%, rgba(183, 222, 237, 1)),
      color-stop(100%, rgba(183, 222, 237, 1))
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(183, 222, 237, 1) 0%,
      rgba(183, 222, 237, 1) 1%,
      rgba(33, 180, 226, 1) 53%,
      rgba(113, 206, 239, 1) 82%,
      rgba(183, 222, 237, 1) 95%,
      rgba(183, 222, 237, 1) 100%
    );
    background: -o-linear-gradient(
      45deg,
      rgba(183, 222, 237, 1) 0%,
      rgba(183, 222, 237, 1) 1%,
      rgba(33, 180, 226, 1) 53%,
      rgba(113, 206, 239, 1) 82%,
      rgba(183, 222, 237, 1) 95%,
      rgba(183, 222, 237, 1) 100%
    );
    background: -ms-linear-gradient(
      45deg,
      rgba(183, 222, 237, 1) 0%,
      rgba(183, 222, 237, 1) 1%,
      rgba(33, 180, 226, 1) 53%,
      rgba(113, 206, 239, 1) 82%,
      rgba(183, 222, 237, 1) 95%,
      rgba(183, 222, 237, 1) 100%
    );
    background: linear-gradient(
      45deg,
      rgba(183, 222, 237, 1) 0%,
      rgba(183, 222, 237, 1) 1%,
      rgba(33, 180, 226, 1) 53%,
      rgba(113, 206, 239, 1) 82%,
      rgba(183, 222, 237, 1) 95%,
      rgba(183, 222, 237, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
  }
}

.enlaces a {
  margin-right: 2rem;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  padding: 0.5rem 0;
  transition: 0.7s ease-out;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .enlaces a:last-of-type {
    margin-bottom: 10rem;
  }
}

@media (max-width: 768px) {
  .enlaces a {
    padding: 0 2rem;
    margin-right: 0;
  }
}

.enlaces a:first-of-type {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .enlaces a:first-of-type {
    margin-left: 0;
  }
}

.enlaces a:hover {
  border-top: 0.3rem solid rgb(157, 248, 157);
  border-bottom: 0.3rem solid rgb(157, 248, 157);
  transform: scale(1.1);
  color: rgb(3, 3, 63);
}

@media (max-width: 768px) {
  .uno {
    clip-path: circle(0% at 100% 0%);
    top: 0px;
  }

  .dos {
    top: 0px;
    clip-path: circle(150% at 100% 0);
  }
}

/*CONTENIDO MAIN:*/

/*Seccion que hacemos*/

.queHacemos {
  background-color: #1a1e41;
  width: 100vw;
  color: whitesmoke;
  padding-top: 3rem;
}

h2.tituloHacemos {
  display: inline-block;
  margin: 0;
  font-size: 8rem;
  padding: 1.5rem 0 0 2rem;
  position: relative;
  left: 20rem;
}

@media (max-width: 768px) {
  h2.tituloHacemos {
    left: 0;
  }
}

@media (max-width: 570px) {
  h2.tituloHacemos {
    font-size: 5rem;
  }
}

@media (max-width: 375px) {
  h2.tituloHacemos {
    font-size: 4rem;
  }
}

h2.tituloHacemos::before {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  width: 5.1rem;
  height: 1.2rem;
  top: 1.1rem;
}

@media (max-width: 570px) {
  h2.tituloHacemos::before {
    width: 3rem;
    height: 1rem;
    top: 1.3rem;
  }
}

@media (max-width: 375px) {
  h2.tituloHacemos::before {
    width: 3rem;
    height: 1rem;
  }
}

.contenidoHacemos {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contenidoHacemos p {
  font-size: 2rem;
  position: relative;
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0.5rem;
}

@media (max-width: 570px) {
  .contenidoHacemos p {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .contenidoHacemos p {
    font-size: 1.3rem;
  }
}

.contenidoHacemos p:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.contenidoHacemos p::before {
  content: "";
  background-color: rgb(78, 90, 195);
  position: absolute;
  width: 3.8rem;
  height: 0.9rem;
  top: -2rem;
}

@media (max-width: 570px) {
  .contenidoHacemos p::before {
    width: 2.5rem;
    top: -1.5rem;
  }
}

@media (max-width: 375px) {
  .contenidoHacemos p::before {
    width: 2rem;
    height: 0.8rem;
    top: -1.3rem;
  }
}

p.descripcionHacemos {
  margin: 3rem 20rem 0 30rem;
  text-emphasis: unset;
  text-align: left;
  padding: 0 2rem 5rem 0;
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  p.descripcionHacemos {
    margin: 2rem 1rem 0rem 1rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 570px) {
  p.descripcionHacemos {
    font-size: 1.7rem;
    margin: 1rem 1rem 0rem 2rem;
  }
}

@media (max-width: 375px) {
  p.descripcionHacemos {
    font-size: 1.6rem;
  }
}

/*Seccion quienes somos: */
.quienesSomos {
  background-image: url("../img/cartagena\ 1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 39.5rem;
  background-attachment: fixed;
  z-index: -1;
  padding-top: 2rem;
}

@media (max-width: 570px) {
  .quienesSomos {
    height: 30rem;
  }
}

.quienesSomos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.74);
  z-index: -1;
}

.quienesSomos h2 {
  display: inline-block;
  margin: 0;
  font-size: 8rem;
  padding: 1.5rem 0 0 2rem;
  position: relative;
  left: 20rem;
  color: rgb(27, 27, 30);
}

@media (max-width: 768px) {
  .quienesSomos h2 {
    left: 0;
  }
}

@media (max-width: 570px) {
  .quienesSomos h2 {
    font-size: 5rem;
  }
}

@media (max-width: 375px) {
  .quienesSomos h2 {
    font-size: 3.8rem;
    padding-top: 2rem;
  }
}

.quienesSomos h2::before {
  content: "";
  position: absolute;
  width: 5.1rem;
  height: 1.2rem;
  top: 1.8rem;
  background-color: rgb(78, 90, 195);
}

@media (max-width: 570px) {
  .quienesSomos h2::before {
    width: 3rem;
    height: 1rem;
  }
}

p.descripcionQuienesSomos {
  font-size: 2.2rem;
  margin: 3rem 20rem 0rem 30rem;
  color: #000;
  text-align: left;
  padding: 0 2rem 5rem 0;
}

@media (max-width: 768px) {
  p.descripcionQuienesSomos {
    margin: 2rem 1rem 0rem 1.2rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 570px) {
  p.descripcionQuienesSomos {
    padding-top: 1rem;
    font-size: 1.7rem;
    padding-right: 0.1rem;
    margin-right: 0;
    margin-left: 1rem;
    word-wrap: normal;
    width: 90%;
  }
}

@media (max-width: 375px) {
  p.descripcionQuienesSomos {
    font-size: 1.6rem;
    margin-top: -0.1rem;
  }
}

/*Seccion Eventos: */
section.eventos {
  z-index: -1;
}

section.eventos h2 {
  display: inline-block;
  margin: 0.2rem 0 0 0;
  font-size: 8rem;
  padding: 1.5rem 0 0 2rem;
  position: relative;
  left: 20rem;
  color: rgb(27, 27, 30);
}

@media (max-width: 768px) {
  section.eventos h2 {
    margin-top: 2rem;
    left: 0;
  }
}

@media (max-width: 570px) {
  section.eventos h2 {
    font-size: 5rem;
    margin-top: 1rem;
    padding-top: 1.7rem;
  }
}

@media (max-width: 375px) {
  section.eventos h2 {
    font-size: 3.8rem;
    padding-top: 2rem;
  }
}

section.eventos h2::before {
  content: "";
  position: absolute;
  width: 5.1rem;
  height: 1.2rem;
  top: 1.8rem;
  background-color: rgb(78, 90, 195);
}

@media (max-width: 570px) {
  section.eventos h2::before {
    width: 3rem;
    height: 1rem;
  }
}

section p.descripcionEventos {
  font-size: 2.2rem;
  margin: 1rem 20rem 0 30rem;
  color: #000;
  text-align: left;
  padding: 0 2rem 5rem 0;
}

@media (max-width: 768px) {
  section p.descripcionEventos {
    margin: 2rem 1rem 0rem 1.2rem;
    font-size: 2.1rem;
    padding-bottom: 0;
  }
}

@media (max-width: 570px) {
  section p.descripcionEventos {
    padding-top: 1rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 375px) {
  section p.descripcionEventos {
    font-size: 1.6rem;
    margin-top: -0.2rem;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  filter: brightness(70%);
  transition: all 1s;
}

.img:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

/*Galeria de la seccion de eventos*/

.containerFlex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: -50px auto 0 auto;
}

.containerFlex a img.img {
  object-fit: contain;
  width: 40rem;
  height: 45rem;
}

@media (max-width: 768px) {
  .containerFlex a img.img {
    width: 30rem;
    height: 25rem;
  }
}
@media (max-width: 570px) {
  .containerFlex a img.img {
    margin-top: 2rem;
    width: 25rem;
    height: 20rem;
  }
}

@media (max-width: 375px) {
  .containerFlex a img.img {
    margin-top: 4rem;
    width: 15rem;
    height: 15rem;
  }
}

/*Seccion Emprendimientos*/

section.emprendimientos h2 {
  display: inline-block;
  margin: 0.2rem 0 0 0;
  font-size: 8rem;
  padding: 1.5rem 0 0 2rem;
  position: relative;
  left: 20rem;
  color: rgb(27, 27, 30);
}

@media (max-width: 768px) {
  section.emprendimientos h2 {
    margin-top: 2rem;
    left: 0;
    font-size: 6.5rem;
  }
}

@media (max-width: 570px) {
  section.emprendimientos h2 {
    font-size: 4.3rem;
    padding-left: 1rem;
    padding-top: 1.2rem;
  }
}

@media (max-width: 375px) {
  section.emprendimientos h2 {
    font-size: 3.5rem;
  }
}

section.emprendimientos h2::before {
  content: "";
  position: absolute;
  width: 5.1rem;
  height: 1.2rem;
  top: 1.8rem;
  background-color: rgb(78, 90, 195);
}

@media (max-width: 570px) {
  section.emprendimientos h2::before {
    width: 3rem;
    height: 1rem;
    top: 1rem;
  }
}

@media (max-width: 375px) {
  section.emprendimientos h2::before {
    width: 2.8rem;
  }
}

section.emprendimientos p {
  font-size: 2.2rem;
  margin: 1rem 20rem 0 30rem;
  color: #000;
  text-align: left;
  padding: 0 2rem 5rem 0;
}

@media (max-width: 768px) {
  section.emprendimientos p {
    margin: 1.1rem 1rem 0rem 1.2rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 570px) {
  section.emprendimientos p {
    font-size: 1.7rem;
    width: 90%;
  }
}

@media (max-width: 375px) {
  section.emprendimientos p {
    font-size: 1.6rem;
    width: 99%;
  }
}

section.emprendimientos p:first-of-type {
  margin-bottom: 0;
  padding-bottom: 0.8rem;
}

section.emprendimientos p:last-of-type {
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 768px) {
  section.emprendimientos p:last-of-type {
    margin-top: 0;
  }
}

/*Galeria de la seccion Emprendimientos*/
.galeriaEmprendimiento {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.galeriaImg {
  width: 30rem;
  height: 28rem;
  margin-bottom: 2rem;
  object-fit: contain;
  animation: palpitar 1.5s infinite alternate;
}

@media screen and (max-width: 570px) {
  .galeriaImg {
    width: 25rem;
    height: 20rem;
  }
}

@media screen and (max-width: 375px) {
  .galeriaImg {
    width: 15rem;
    height: 15rem;
  }
}

/*Seccion de perfiles*/
section.perfiles {
  background-color: #cad0da;
  padding-top: 5rem;
  padding-bottom: 0;
}

section.perfiles h2 {
  display: inline-block;
  margin: 0;
  font-size: 8rem;
  padding: 1.5rem 0 0 2rem;
  position: relative;
  left: 20rem;
}

@media (max-width: 768px) {
  section.perfiles h2 {
    left: 0;
  }
}

@media (max-width: 570px) {
  section.perfiles h2 {
    font-size: 5rem;
  }
}

@media (max-width: 375px) {
  section.perfiles h2 {
    font-size: 3.8rem;
  }
}

section.perfiles h2::before {
  content: "";
  position: absolute;
  width: 5.1rem;
  height: 1.2rem;
  top: 1.8rem;
  background-color: rgb(78, 90, 195);
}

@media (max-width: 570px) {
  section.perfiles h2::before {
    width: 3rem;
    height: 1rem;
    top: 1rem;
  }
}

section p.introPerfiles {
  font-size: 2.2rem;
  margin: 1rem 20rem 0 30rem;
  color: #000;
  text-align: left;
  padding: 0 2rem 5rem 0;
}

@media (max-width: 768px) {
  section p.introPerfiles {
    font-size: 2.1rem;
    margin: 1.1rem 1rem 0 1.2rem;
  }
}

@media (max-width: 570px) {
  section p.introPerfiles {
    font-size: 1.7rem;
    margin: 1rem 1rem 0 2rem;
  }
}

@media (max-width: 375px) {
  section p.introPerfiles {
    font-size: 1.6rem;
    width: 100%;
  }
}

/*Galeria de imagenes de la seccion de Perfiles: */
.galeriaPerfiles {
  width: 100%;
  overflow: hidden;
}

.contenidoSlider {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

@media screen and (max-width: 375px) {
  .contenidoSlider {
    flex-direction: column-reverse;
  }
}

.contenidoSlider:nth-child(odd) {
  background-color: #f3f5f8;
  color: black;
}

.contenidoSlider:nth-child(even) {
  background-color: aquamarine;
  color: black;
}

.contenidoSlider > img {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .contenidoSlider > img {
    width: 350px;
  }
}

@media screen and (max-width: 570px) {
  .contenidoSlider > img {
    width: 280px;
  }
}

@media screen and (max-width: 375px) {
  .contenidoSlider > img {
    padding-top: 2rem;
    width: 220px;
  }
}

.contenidoSlider > section {
  width: 40%;
}

@media screen and (max-width: 375px) {
  .contenidoSlider > section {
    width: 95%;
  }
}

.contenidoSlider section > h3 {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 570px) {
  .contenidoSlider section > h3 {
    font-size: 1.8rem;
  }
}

.contenidoSlider section > p {
  text-align: justify;
  line-height: 3rem;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .contenidoSlider section > p {
    line-height: 2.7rem;
  }
}

@media screen and (max-width: 570px) {
  .contenidoSlider section > p {
    line-height: 2rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 375px) {
  .contenidoSlider section > p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.contenidoSlider section > a {
  color: white;
  background-color: rgb(78, 90, 195);
  width: 10rem;
  display: block;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 0.3rem;
  text-transform: capitalize;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.contenidoSlider section > a:hover {
  transform: scale(1.1);
}

.sliderContenedor {
  width: 100%;
  display: flex;
}

/* Footer */
footer {
  background-color: #202020;
  color: white;
  width: 100%;
  /* padding: 4rem; */
  font-size: 1.8rem;
}

.contenedorFooterAll {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 4rem;
}

.contenedorFooter {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .contenedorFooter {
    flex-wrap: wrap;
  }
}

.columna1 {
  max-width: 40rem;
}

@media (max-width: 570px) {
  .columna1 {
    max-width: 100%;
  }
}

.columna1 h2 {
  font-size: 2rem;
}

.columna1 p {
  font-size: 1.6rem;
  color: #c7c7c7;
  margin-top: 2rem;
}

.columna2 {
  max-width: 40rem;
}

@media (max-width: 570px) {
  .columna2 {
    margin-top: 2rem;
  }
}

.columna2 h2 {
  font-size: 2.2rem;
}

.row {
  margin-top: 1rem;
  display: flex;
}

.row img {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.5s ease-in-out;
}

.row img:hover {
  transform: scale(1.2);
}

.row label {
  color: #c7c7c7;
  margin-top: 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
}

.columna3 {
  max-width: 40rem;
}

@media (max-width: 570px) {
  .columna3 {
    margin-top: 2rem;
  }
}

.columna3 h2 {
  font-size: 2.2rem;
}

.row3 {
  margin-top: 1rem;
  display: flex;
}

.row3 img {
  width: 3.5rem;
  height: 3.5rem;
}

.row3 label {
  color: #c7c7c7;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

.finalFooter {
  background-color: #101010;
  width: 100%;
  color: #c7c7c7;
}

.contenedor {
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
}

.finalFooter img {
  height: 7rem;
  width: 7.2rem;
  object-fit: contain;
}

.copyright span {
  color: #c7c7c7;
  font-weight: bold;
  text-transform: uppercase;
  height: 200px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.centrar {
  max-width: 95%;
  margin: 0 auto;
}

/*Mostrar elementos mientras se hace scroll*/
.animado {
  opacity: 0;
  transition: all 0.7s;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes palpitar {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.06);
  }
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0.3rem;
  margin: -0.3rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.3rem;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 0.3rem solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
